body{
 font-family:"Roboto"; 
}
.text{
  width: 100%;
  display:block;
  height: 250px;
  box-sizing:border-box;
}

.title{
  padding:0 0 0 15px;
}

.translate{
  float:right;
  margin: 15px 0;
}

.textareaWrapper{
  width:100%;
  padding:15px;
  box-sizing:border-box;
}

@media screen and (min-width:600px){
  .textareaWrapper{
    width: 50%;
    display:block;
    height: 250px;
    float:left;
  }
}